{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <h1 class="display-1">이미지 목록</h1>
    <form method="POST" action="{% url 'accounts:make_container' %}">
        {% csrf_token %}
        <select name="image" autofocus>
        {% for item in image_list %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
        </select>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">생성</button>
        </div>
    </form>
</div>
{% endblock %}