{% extends 'base.html' %}
{% load main_filter %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="text-center table-dark">
                <th>번호</th>
                <th>수업명</th>
                <th>수업 개설자</th>
                <th>수업 코드</th>
                <th>개설일시</th>
                <th>인원</th>
            </tr>
        </thead>
        <tbody>
        {% if class_list %}
        {% for class in class_list %}
        <tr class="text-center">
            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ class_list.paginator.count|sub:class_list.start_index|sub:forloop.counter0|add:1 }}
            </td>
            <td>{{ class.class_name }}</td>
            <td>{{ class.educator }}</td>
            <td>{{ class.code }}</td>
            <td>{{ class.create_date }}</td>
            <td>{{ learners_len }} / {{ class.max_learner }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">수업이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if class_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ class_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in class_list.paginator.page_range %}
        {% if page_number >= class_list.number|add:-5 and page_number <= class_list.number|add:5 %}
        {% if page_number == class_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif%}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if class_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ class_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
{% endblock %}