{% load static %}
<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="container-sm">
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="{% url 'main:index' %}">
                SECURITYCLASS
            </a>
            <ul class="navbar-nav mx-auto">
                <!-- 교육자 - 수업 생성 -->
                {% for group in user.groups.all %}
                {% if group.name == 'educator' %}
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link" href="{% url 'main:class_produce' %}">수업 생성</a>
                </li>
                {% endif %}
                {% else %}
                {% endif %}
                {% endfor %}
                <!-- 수업 목록 확인-->
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link" href="{% url 'main:class_list' %}">수업</a>
                </li>
                {% endif %}
                <!-- 모든 수업 목록 확인-->
                {% for group in user.groups.all %}
                {% if group.name == 'educator' %}
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link" href="{% url 'main:class_list_all' %}">모든 수업(교육자 용)</a>
                </li>
                {% endif %}
                {% else %}
                {% endif %}
                {% endfor %}
                <!-- docker 파일 업로드-->
                {% for group in user.groups.all %}
                {% if group.name == 'educator' %}
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link" href="{% url 'main:upload' %}">업로드</a>
                </li>
                {% endif %}
                {% else %}
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="navbar-nav mb-0 mb-lg-0">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'accounts:logout' %}">{{ user.username }} (로그아웃)</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
                    {% endif %}
                </li>
                <li>
                    {% if not user.is_authenticated %}
                    <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        
    </div>
</nav>
