{% load static %}
<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="container-fluid container">
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="{% url 'main:index' %}">
                <img src="{% static 'img/SecurityClass.png' %}" alt="SecurityClass" width="120" height="30">
            </a>
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                {% for group in user.groups.all %}
                {% if group.name == 'educator' %}
                <li>
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'main:upload' %}">업로드</a>
                    {% endif %}
                </li>
                {% else %}
                {% endif %}
                {% endfor %}
                <li>
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'main:list' %}">수업</a>
                    {% endif %}
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'accounts:logout' %}">{{ user.username }} (로그아웃)</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
                    {% endif %}
                </li>
                <li>
                    {% if not user.is_authenticated %}
                    <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        
    </div>
</nav>
